@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Configurações de responsividade */
@media(max-width:420px) {
    #img_aluna{
        display: none;
    }
    #logo_uvv{
        height: auto;
        margin-top: 13%;
    }   
    footer{
        position: relative;
        bottom: 3px;
    }
}






/* Elementos e configurações do body*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8D8D8;
}

#logo_uvv {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 2%;
}

.ajuda{
    width: 46.5px;
    display: flex;
    position: relative;
    right: -96%;
    bottom: -66vh;
}









/* Cabeçalho */

.icon_logout{
    margin-left: 1vw;
    position: relative;
    z-index: 2;
   
}

.home{
    margin-left: 42%;
}


.botoes{
    text-decoration: none;
    color: #F5F5F5;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15%;
}


.menu{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    
}
header{
    height: 12vh;
    align-items: center;
    display: flex;
    background-color: #2E2D6A;
    color: white;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
}


    












/* Tabela central */

.td{
    font-size: 15px;
}

td{
    border: none;
    
}

th{
    display: flexbox;
}

.icon_seta{
    
    position: absolute;
    left: 1.1vw;
}

.icon_arquivo{
    width: 30px;
    float: left;
    margin-left: 40px;
}

.tabela{
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: 2px solid #636363;
    font-weight: bold;
    border-radius: 20px;
    overflow: hidden;
  
    
}

.cabecalhotabela{

    background-color: #2E2D6A;
    color: #F5F5F5;
    height: 70px;
}


.retangulo_login {
    position: relative;
    margin: auto;
    width: 30%;
    height: 56.5vh;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #A8A8A8;
    
}














/* Rodapé */

footer{
    position: relative;
    bottom: -7.3vh;
    height: 15vh;
    display: flex;
    width: 100%;
    background-color: #2E2D6A;
    color: #F5F5F5;
}

footer img {
    width: 15%;

}

div#cont1 {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10px;
}

h6#telefone {
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

div#cont2 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

h6#email {
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

#developed {
    position: fixed;
    right: 0;
    font-size: 12px;
    margin-top: 20px;
    text-align: right;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}



#brand {
    position: fixed;
    right: 0;
    font-size: 12px;
    text-align: right;
    line-height: 160px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
