@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Configurações de responsividade */
@media(max-width:420px) {
    #img_aluna{
        display: none;
    }
    #logo_uvv{
        height: auto;
        margin-top: 13%;
    }   
    footer{
        position: relative;
        bottom: 3px;
    }
}






/* Elementos do body e configurações */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8D8D8;
    overflow-x: hidden;
}

#logo_uvv {
z-index: 1;
position: absolute;
width: 50%;
height: 60%;
top: 2%;
}

.ajuda{
    width: 46.5px;
    display: none;
    position: relative;
    right: -96%;
    bottom: -66vh;
}








/* Cabeçalho */

.icon_logout{
    margin-left: 1vw;
    position: relative;
    z-index: 2;
   
}

.home{
    margin-left: 45.5%;
}

.botoes{
    text-decoration: none;
    color: #F5F5F5;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15%;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    
}

header{
    height: 12vh;
    align-items: center;
    display: flex;
    background-color: #2E2D6A;
    color: white;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
}













/* Tabela central */

.retangulo_login {
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 67vh;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 2;
    background: #A8A8A8;
    
}


.faleconosco{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.avisos{
    line-height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #464545;
}
.inputinfo{
    z-index: 3;
    height: 30px;
    width: 250px;
    margin-top: 20px;
    
}

#textoemail{
    z-index: 3;
    margin-top: 20px;
    height: 160px;
    width: 400px;
    line-break: strict;
    padding: 10px;
}

button{
    margin-top: 15px;
    border: 0px;
    border-radius: 7px; 
    padding: 5px;
    cursor: pointer;
    color: rgb(235, 177, 52);
    background-color: #2E2D6A;
    font-weight: 600;
}












/* Rodapé */

footer{
    position: absolute;
    bottom: 0vh;
    height: 15vh;
    display: flex;
    width: 100%;
    background-color: #2E2D6A;
    color: #F5F5F5;
}




div#cont1 {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10px;
 }

h6#telefone {
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}




div#cont2 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
 }

h6#email {
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}




#info{
    display: flex;
    position: relative;
    right: -1470px;
    
 }

#developed {
  
    right: 0;
    font-size: 12px;
    margin-top: 20px;
    text-align: right;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
 }

#brand {
    position: relative;
    right: 100px;
    top: 70px;
    font-size: 12px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    height: fit-content;
}


